body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#0f172a;
  font-family:Arial;
  color:white;
}

.box{
  display:flex;
  flex-direction:column;
  gap:10px;
  background:#1e293b;
  padding:30px;
  border-radius:12px;
  width:300px;
  text-align:center;
}

input{
  padding:10px;
  border:none;
  border-radius:8px;
}

button{
  padding:10px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-weight:bold;
}

.green{
  background:#16a34a;
  color:white;
}

.red{
  background:#dc2626;
  color:white;
}

.link{
  cursor:pointer;
  color:#38bdf8;
}

#painel{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:15px;
}

.avaliacao{
  display:flex;
  gap:15px;
}

#contadorGlobal{
  font-weight:bold;
  font-size:18px;
}